* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: khaki;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 50px;
}

button {
    margin-top: 30px;
    font-size: 30px;
    padding: 10px 30px;
    font-weight: bolder;
    background-color: lightblue;
    border-radius: 10px;
}

button:focus {
    outline: 0;
}

.dice {
    display: inline-block;
    margin: 30px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    position: relative;
}

.pip {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: radial-gradient(rgba(0, 0, 0, 0.7), black);
    position: absolute;
}

.pip1 {
    left: 20px;
    top: 20px;
}

.pip2 {
    left: 20px;
    top: 80px;
}
.pip3 {
    left: 20px;
    top: 140px;
}

.pip4 {
    left: 80px;
    top: 80px;
    display: none;
}

.pip5 {
    left: 140px;
    top: 20px;
}

.pip6 {
    left: 140px;
    top: 80px;
}

.pip7 {
    left: 140px;
    top: 140px;
}

.shake {
    animation: shake 0.15s infinite linear;
}

@keyframes shake {
    25% {transform: translateX(-7px)}
    75% {transform: translateX(7px)}
}
