* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    display: block;
    margin: 20px 0px;
}

.wrapper {
    width: 930px;
    margin: 0 auto;
}

.container {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}

.shake {
    animation: shake 1s 2;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {transform: translateX(-20px);}
	10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {transform: translateX(20px);}
}

.hop {
    animation: hop 1s 2;
}

@keyframes hop {
    25% {transform: translateX(-30px) translateY(-60px)  rotate(-20deg);}
    50% {transform: translateY(0) rotate(0);}
    75% {transform: translateX(30px) translateY(-60px) rotate(20deg);}
}

.spin {
    animation: spin 2s ease-out;
}

@keyframes spin {
    10% {transform: rotate(-50deg)}
    20% {transform: rotate(-50deg)}
    100% {transform: rotate(3600deg)}
}

.grow {
    animation: grow 2s;
}

@keyframes grow {
    70% { transform: scale(2.0) }
    90% { transform: scale(0.6) }
    93% { transform: scale(1.4) }
    95% { transform: scale(0.8) }
    97% { transform: scale(1.2) }
}

.hooray {
    animation: hooray 1s 2;
}

@keyframes hooray {
	25% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	50% {transform: translateX(0) translateY(0) scale(.7, .7);}
	75% {transform: translateX(-60px) translateY(-60px) scale(1.5, 1.5);}
}