* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #46B29D;
    color: rgb(5, 28, 41);
    font-size: 20px;
    text-align: center;
}

h1 {
    padding: 20px;
    background-color: #F0CA4D;
    display: block;
    box-shadow: 0 0 10px;
    margin-bottom: 30px;
}

p {
    padding: 10px;
}

form p {
    display: inline;
}

input{
    font-size: 20px;
    color: rgb(5, 28, 41);
}

button {
    padding: 5px 10px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(5, 28, 41);
    background-color: #F0CA4D;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(241, 193, 33);
}

#status {
    margin: 20px 0;
}

#status p{
    padding: 0;
    line-height: 1.5;
}

#result p{
    padding: 0;
    line-height: 1.5;
}
